.newPhone-Container{
    padding: 40px 0;
}

.new-form button{
margin-top: 30px;
}

.new-form p{
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    margin:20px 0 0 0;
}
.newPhone-Col{
border: 1px solid rgb(0, 0, 0, 0.3);
border-radius: 15px;
padding: 20px 50px;
}

.newPhone-Col h2{
    font-weight: 100;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #000000
}

.newForm-btns{
    text-align: center;
}
.newForm-btns button{
    margin-right: 15px;
}

.img-upload-div{
overflow: hidden;
width: 154px;
margin: 0 auto;
}

@media (max-width: 574px) {
      .newPhone-Col{
border: none;
padding: 20px 50px;
margin: 0
}
}