body {
  margin: 0;
  font-family: sans-serif;
}

.form-control label,
.form-control input,
.form-control textarea {
  width: 100%;
  display: block;
}

.form-control label {
  margin-bottom: .5rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-actions button,
.btn {
  font: inherit;
  color: hsl(283, 100%, 95%);
  background: hsl(283, 100%, 34%);
  border: 1px solid hsl(283, 100%, 50%);
  border-radius: 3px;
  padding: .25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .26);
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
  background: hsl(283, 100%, 20%);
  border-color: hsl(283, 100%, 20%);
}