.container {
  padding: 20px;
}

.container-details {
  padding: 20px;
  border: 1px solid slateblue;
  display: flex;
}

.image-details {
  width: 90%;
}

.button-details a {
  text-decoration: none;
}
