main {
    min-height: 85vh;
    margin-top: 130px;
    margin-bottom: 100px;
}

img {
    width: 100%;
    object-fit: cover;
    background-color: gray;
}

a {
    color: #793c72;
}

.navbar {
    background-color: #5c2556;
    box-shadow: 2px 2px 8px lightgray;
    position: fixed;
    min-height: 60px;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.navbar a {
    text-decoration: none;
}

.navbar-nav {
    text-align: right;
    text-transform: uppercase;
    font-size: .9rem;
}

.phone-details {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-top: 10px;
}

.footer {
    background-color: #5c2556;
}

.btn {
    background-color: #5c2556;
    border-color: lightgray;
}