.imgPhoneDetails {
    width: 300px;
    margin-left: 60px;
}

.manufacturer{
    font-weight: bold;
}

p {
    text-align: left;
    padding: .5px;
}

span {
    font-weight: bold;
}

ul li {
    list-style: none
}

.description {
    margin-bottom: 25px;
    margin-left: 1em;
    margin-right: 1em;
}

.modal {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}