.card-image {
    width: 390px;
    height: 150px;
    object-fit:contain;
}

.card{
    margin: 10px;
}

.spinner {
    margin-top: 20%;
    margin-left: 50%;
}

.card{
    box-shadow: 2px 2px 2px black;
}

.card-footer{
    text-align: center;
}