.details-btns{
    text-align: center
}

.details-btns a{
    margin-right: 15px;}
    
.phone-detail-container{
        margin-top: 40px;
        margin-bottom: 100px;
    }

.phone-name-header-col{
    padding-top: 150px;
}
    
.phone-detail-header{
        position: relative;
        width: 100%;
        height: 400px;
        overflow: hidden;
    }
.phone-detail-header h3{
        z-index: 100;
        font-weight: 700;
        font-size: 90px;
        text-align: center;
        
    }

.phone-detail-img-header{
    position: absolute;
        width: 320px;
        top: -110px;
        left: -50px;
        transform: rotate(90deg);
        z-index: -100;
    }
.phone-detail-img{

    width: 50%;
    display:block;  
    margin: 0 auto;

    }

.manufacturer{
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    margin:0
}

.price {
font-size: 20px;
font-weight: 700;
color: #8a8a8a
}

.description{
    font-weight: 300;
}
.specs{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.specs img{
    width: 30px;
    margin-right: 10px;

}

.specs-container{
margin: 40px 0 50px 0
}

@media (max-width: 991px){
    .phone-detail-img-header{
    display: none
    }
    .phone-name-header-col{
    padding-top: 70px;
}
    
.phone-detail-header{
        position: relative;
        width: 100%;
        height: 240px;
        overflow: hidden;
    }
}
@media (max-width: 415px){
    .phone-detail-header h3{


        font-size: 70px;

        
    }
}