.card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.phones-card {
    display: flex;
    flex-direction: column;
    max-width: 33%;
    align-items: center;
    align-content: center;
    padding: 5%;
}
.phones-card img{
    width: 300px;
}