.card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.phones-card {
    display: flex;
    flex-direction: column;
    max-width: 33%;
    align-items: center;
    align-content: center;
    padding: 5%;
}
.phones-card img{
   position: absolute;
    width: 300px;
    height: 100%;
    object-fit: cover;
    border-radius: 30px !important;
    border: 6px solid white;
}

.nav-link {
    position: relative;
    transition: 0.6s;
}

.phones-card img:hover {
    opacity: 0.5;
}


.nav-link::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

